  <meta property="og:site_name" content="blog.johnowl.com">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
  {% if page.description == "" or page.description == nil %}
    <meta name="description" property="og:description" content="Um blog sobre desenvolvimento de software por John Owl.">
  {% else %}
    <meta name="description" property="og:description" content="{{ page.description }}">
  {% endif %}  
  {% if page.image == "" or page.image == nil %}
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/public/images/fb_capa.jpg">
  {% else %}
    <meta name="image" property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ page.image }}">
  {% endif %}